@mixin multi-lines-text-truncate($lines-number, $line-height) {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-number;
    line-height: $line-height;
    height: ($lines-number * $line-height);
}

.multi-lines-text-truncate {
    @include multi-lines-text-truncate(2, 21px);
}

.hot-video-container {
    .multi-lines-text-truncate {
        
    }
}