/* Don't edit _sprites_svg.scss directly as it is genereated automatically by gulp
instead edit dev/css/images/sprite_svg.css */


     /* base icon rule, don't need repeat in the loop */
        .icon {
               background-image: url('/images/sprite-0e22b272.svg');
        } /* any code between first will only run once for the first one encounter in the loop*/

    .icon--email {
        width: 30px;
        height: 30px;
        background-position: 59.45945945945946% 0;
    }


    
    .icon--facebook {
        width: 30px;
        height: 30px;
        background-position: 0 100%;
    }


    
    .icon--line {
        width: 30px;
        height: 30px;
        background-position: 40.54054054054054% 100%;
    }


    
    .icon--rss {
        width: 30px;
        height: 30px;
        background-position: 100% 0;
    }


    
    .icon--search {
        width: 44px;
        height: 44px;
        background-position: 0 0;
    }


    
    .icon--views {
        width: 17px;
        height: 9px;
        background-position: 85.05747126436782% 46.15384615384615%;
    }


