html {
    font-size: 14px;
}

html,
body {
    height: 100%;
}

a {
    transition: color .3s;
}

body {
    font-family: // Safari for OS X and iOS (San Francisco)
    -apple-system, // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont, // Windows
    San Francisco, "Segoe UI", // Android
    // Windows
    "微軟正黑體", "Microsoft JhengHei", "Roboto", // Basic web fallback
    "Helvetica Neue", Arial, sans-serif, // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul, li {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
}

/********** 首頁 **********/
//主視覺
.bg_full-screen {
    background-image: linear-gradient(to bottom,
     rgba(10, 39, 51, 0.3), 
     rgba(30, 151, 179, 0.3)), 
    url("../images/img_bg-main-fullscreen.png");
 
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 
.fr-main-title {
    display: block;
    margin: 0 auto;
    padding: 32px 0 10px;
   
}

.fr-main-subtitle{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    max-width: 680px;
    font-size: 20px;
    line-height: 1.6;
    font-weight: bolder;
    text-shadow: 2px 2px 6px #000;
    padding: 0 15px;
    margin: 0 auto 36px;
    @media screen and (max-width: 696px ){
         font-size: 16px;
       }
    @media screen and (max-width: 576px ){
        font-size: 14px;
    }
    @media screen and (max-width: 375px ){
        font-size: 12px;
    }
}
.main {
    position: relative;
}
.next{
    display: flex;
    flex-direction: column;
    align-items: center;
    .scrollBtn {
        width: 72px;
        height: 72px;
        animation: scrollBtn 2s infinite;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: scrollBtn;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    p {
        margin-top: 4px;
        text-align: center;
        width: 100%;
        color: rgba(#fff, .58);
        @media screen and (max-width: 576px ){
            font-size: 12px;
        }
    }
}


@keyframes scrollBtn {
    0% {
        opacity: 0;
        transform: translate(0%, -50%);
    }
    40% {
        opacity: 1;
    }
    70% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(0%, 0);
        opacity: 0;
    }
}


//右上導覽按鈕
.burger-trigger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 70px;
    height: 70px;
    background-color: #D1AA47;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 30px;
    width: 70px;
    height: 70px;
    @media screen and (max-width:1024px){
        padding-top: 20px;
        padding-right: 20px;
        width: 50px;
        height: 50px;
    }
    @media screen and (max-width:560px){
        padding-top: 10px;
        padding-right: 10px;
        width: 40px;
        height: 40px;
    }
    &.active .first {
        top: 13px;
        transform: rotate(45deg);
        background-color: #fff;
        opacity: 1;
        @media screen and (max-width:1024px){
            top: 7px; //讓手機版bar不會變形
        }
    }
    &.active span {
        opacity: 0;
    }
    &.active .last {
        bottom: 13px;
        transform: rotate(135deg);
        background-color: #fff;
        opacity: 1;
    }
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 180px 180px 0;
        border-color: transparent #D1AA47 transparent transparent;
        @media screen and (max-width: 1024px){
            border-width: 0 130px 130px 0;
        }
        @media screen and (max-width: 560px){
            border-width: 0 90px 90px 0;
        }
    }
    span {
        position: relative;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
    }
}

.burger-trigger, .burger-trigger span {
    transition: .2s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}


.nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    overflow: hidden;
    opacity: 0;
    background-color: #D1AA47;
    text-align: center;
    transform: scale(0); //讓動效從右上(0)-置中(1)
    transform-origin: right top;
    transition: transform .4s ease, opacity .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    widows: 100%;
    height: 100%;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        height: 100%;
    }
    li {
        position: relative;
        width: 100%;
    }
    a {
        position: relative;
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 30px;
        color: #fff;
        &:hover, &.active {
            color: #b73f91;
            font-weight: 700;
        }
    }
    .social {
        ul {
            display: flex;
            justify-content: center;
            padding:10px;
        }
        li {
            width: initial;
            margin:15px;
            transition: transform .2s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
        img {
            width: 60px;
            height: 60px;
        }
    }
    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

//共用
#info, #speakers, #schedule {
    background-color: #102738;
    padding-top: 3%;
    padding-bottom: 3%;
}

#info {
    background-image: url("../images/img_bg-info.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#speakers {
    background-image: url("../images/img_bg-speakers.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#schedule {
    background-image: url("../images/img_bg-schedule.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



.container {
    padding-top: 35px;
    padding-bottom: 35px;
}


// 活動資訊
.info-visual {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 5%;
}
.title {
    display: flex;
    justify-content: center;
    img {
        width: 239px;
        height: 141px;
        @media screen and (max-width: 1024px){
            width: 190px;
            height: auto;
        }
    }
}

.button-center {
    text-align: center;
}
.go-btn {
    background-color: rgba(227,148,37, 1);
    transition: all, .3s;
    &:hover {
        color: #fff;
        background-color:darken(#c3d54e, 13%);
    }

    border-radius: 50px;
     padding: 10px 50px;
   color: #fff;
   font-size: 22px;
   box-shadow: 0 0 20px rgba(#ffc688, .5);
}


//講者
.speakers {
    margin-top: 5%;
    padding-bottom: 5%;
    .speaker-img {
        text-align: center;
        img{
            width: 124px;
            height: 124px;
            border-radius: 50%;
            margin-top: 153px;
        }   
    }
    .speaker-intro {
        text-align: center;
        color: #000;
        .nickname {
            margin-top: 36px;
         
            font-size: 20px;
            font-weight: bold;
        }
        .name {
            font-size: 16px;
            font-weight: bold;
        }
        .experience {
            font-size: 15px;
            max-width: 120px;
            margin: 16px auto 12px;
            text-align: justify;
            color: rgba(0, 0, 0, 1);
            
        }
        .more {
            width: 106px;
            height: 48px;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            padding-top: 10px;
            font-weight: bold;
            transition: transform .2s;
            &:hover {
                transform: scale(1.1);
                color: rgba(0, 0, 0, .87);
            }
        }
    }
}
.speaker-1 {
    background-image: url("../images/img_fr-speaker-bg-1.png");
    background-size: 262px 827px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 827px;
    .more {
        background-image: url("../images/img_fr-speaker-1-more-bg.png");
     
    }
}

.speaker-2 {
    background-image: url("../images/img_fr-speaker-bg-2.png");
    background-size: 262px 827px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 827px;
    .more {
        background-image: url("../images/img_fr-speaker-2-more-bg.png");
    }
}

.speaker-3 {
    background-image: url("../images/img_fr-speaker-bg-3.png");
    background-size: 262px 827px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 827px;
    .more {
        background-image: url("../images/img_fr-speaker-3-more-bg.png");
    }
}

.speaker-4 {
    background-image: url("../images/img_fr-speaker-bg-4.png");
    background-size: 262px 827px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 827px;
    .more {
        background-image: url("../images/img_fr-speaker-4-more-bg.png");
    }
}






.total-lecture-time {
    color: #fff;
    font-size: 22px;
    &-container {
        text-align: center;
        margin-top: 20px;
        .fa-clock-o {
            color: #c6e700;
            font-size: 21px;
        }
    }
}




//活動流程時間軸
.timeline-container {
    margin-top: 100px;
    padding-bottom: 5%;
    margin-left: 24%;
    @media screen and (max-width: 960px){
        margin-left: 0%;
    }   
}

.timeline-listing {
  padding-left: 5px;
  margin-left: 55px;
  border-left: 3px solid #caac54; 

  .timeline-item {
    position: relative;
    margin-bottom: 40px;
      @media screen and (min-width: 768px){
          margin-bottom: 44px;
      }
      .dot {
          position: absolute;
          top: 24px;
          left: -12px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #caac54;
          border: 2px solid #caac54;
          @media screen and (max-width:768px){
              top: 24px;
              left: -12px;
          }
      }
      .serial-num {
          position: absolute;
          top: 15px;
          right: 100%;
          margin-right: 30px;
          text-transform: none; 
          color: #fff;
          font-size: 16px;
          background-color: transparent;
          border: 2px solid #caac54;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .timeline-time {
          margin-bottom: 8px;
          background-image: url("../images/img_fr-timeline-flag-bg.png");
          width: 196px;
          height: 61px;
          color: #774512;
          font-size: 22px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
      }
}



.dot-first{
    position: absolute;
    top: -18px;
    left: -16px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #caac54;
    transition: border .3s;
    &:hover {
        border: 3px solid #caac54 
        }
    } 

.dot-last {
    position: absolute;
    top: 20px;
    left: -16px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #caac54;
    transition: border .3s;
    &:hover {
        border: 3px solid #caac54 
        }
    }
}

.schedule-outline {
    color: #fff;
    font-size: 26px;
    margin-left: 28px;
    @media screen and (max-width: 576px){
        font-size: 22px;
    }
    p {
        margin-bottom: 4px;
    }
    .course-title {
        color: #e2d754;
       @media screen and (max-width: 576px){
        display: block;
       }
    }
}


//右下角報名按鈕
.now-btn {
    position: fixed;
    display: none;
    right: 10px;
    bottom: 15px;
    width: 150px;
    height: 150px;
    z-index: 888;
  
    @media screen and (max-width:576px){
        width: 90px;
        height: 90px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}



//主辦單位
#host {
   
    background-color: #fff;
    .host-title {
        text-align: center;
        color: rgba(#000, .58);
        font-size: 26px;
        margin-bottom: 0;
    }
    .logos {
        text-align: center;
    }
    .logo {
        display: inline-block;
        margin: 12px auto 24px;
        height: 80px;
    }
    .logo-caption {
        color: rgba(#000, .38);
        margin-top: 3px;
    }
    
}


#footer {
    background-color: #081126;
    text-align: center;
    color: rgba(#fff, .38);
    font-size: .8rem;
    padding: 1% 10%;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}







/********** 報名頁 **********/

.btn-signup {
        color: rgba(#000, .58);
        font-weight: bold;
        font-size: 14px;
        background-image: url("../images/img_fr-signup-btn-bg.png");
        background-size: 100% 100%;
        background-position: center center;
        padding: 12px 28px 20px;
        &:hover {
            color: rgba(#000, .58);
        }
    
    // background-color: rgba(227,148,37, 1);
    // transition: all, .3s;
    // &:hover {
    //     background-color:darken(#c3d54e, 13%);
    // }

    // border-radius: 50px;
    // padding: 8px 50px;
    // color: #fff;
    // font-size: 22px;
    
}



.signup-main-visual {
  
   img {
       width: 100%;
       height: auto;
       
   }
}

#signup {
    background-color: #102738;
    background-image: url("../images/img_bg_signup@2x.png");
    background-position: top;
    background-repeat: repeat;
    background-size: 100% auto;
}
.signup-form-container {
    background-color: #1c3847;
    border: 4px solid #8b6925;
    max-width: 554px;
    margin: 120px auto 120px;
    position: relative; 
    @media screen and (max-width: 576px){
        margin: 60px auto 60px;
    }
    &::before {
        content:url('../images/img_fr-signup-deco.png'); 
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        top: -78px;
    }
    .heading {
        color: #d6c054;
        font-size: 26px;
        display: inline-block;
        @media screen and (max-width: 576px){
            font-size: 20px;
        }
        &-container {
            border-bottom: 1px solid #d6c054;
            margin-bottom: 16px;
        }
        &-meta {
            font-size: 20px;
            color: rgba(#fff,.58);
            @media screen and (max-width: 576px){
                font-size: 16px;
            }
        }
    }
}

.signup-form {
    max-width: 390px;
    margin: auto;
    padding: 60px 15px 60px;
    label {
        color: #fff;
        font-size: 20px;
        @media screen and (max-width: 576px){
            font-size: 16px;
        }
    }
  
    .form-check {
        margin-bottom: 8px;
        
        label {
            color: rgba(#fff, .58);
            font-size: 17px;
        }
    }
}


.multi-check,
.notice-heading {
    color: #fff;
    font-size: 20px;
    &-heading {
        margin-bottom: 10px;
    }
}

.custom-control-label{
    &::before {
        top: 0.55rem;
        background-color: transparent;
        border: 1px solid rgba(#fff, .5);
    }
    &::after {
        top: 0.55rem;
    }
}

.form-agreement {
    &-content {
        background-color: #fff;
        padding: 8px 15px;
        height: 122px;
        overflow-y: scroll;
        color: rgba(#000, .58);
        font-weight: bold;
        .important {
            color: lighten(red, 20%);
        }
    }
    .custom-control-label{
        &::before {
            top: 0.25rem;
        }
        &::after {
            top: 0.25rem;
        }
    }
}

.notice-heading {
    margin-bottom: 8px;
}
.notice-list {  
    > li {
        color: rgba(#fff, .38);
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 6px;
        &::before {
            content: "＊";
            position: relative;
            left: -8px;
            bottom: 0px;

       }
    }
}




// change bootstrap modal behavior, fade in from center
.modal-dialog {
    margin: 15rem auto;
    .modal.fade & {
        // transform: translate(0, -25%);
        opacity: 0;
        transform: scale(0);
    }
    .modal.show & {
        // transform: translate(0, 50%);
        opacity: 1;
        transform: scale(1);
    }
}

//modal style
.modal {
    &-dialog {
        max-width: 300px;
    }
    &-body {
        background-color: lighten(#EFDEB7,12%);
        color: rgba(#000,.87);
        font-size: 18px;
        line-height: 1.6;
        text-align: justify;
        padding: 1rem 1.6rem;
    }
    &-header {
        background-color: #102738;
        color: #fff;
        border: none;
        .close {
            margin: -1rem -1rem -1rem -2rem;
        }
    }
   
    &-content {
        border: none;
    }
}


//customize animate css
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }



  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


  /* Hide HTML5 Up and Down arrows. */
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
   
  input[type="number"] {
      -moz-appearance: textfield;
  }