/* Don't edit _sprites_svg.scss directly as it is genereated automatically by gulp
instead edit dev/css/images/sprite_svg.css */

{{#shapes}}

    {{#first}} /* base icon rule, don't need repeat in the loop */
        .icon {
               background-image: url('/images/{{{sprite}}}');
        } /* any code between first will only run once for the first one encounter in the loop*/
    {{/first}}

    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-position: {{position.relative.xy}};
    }

{{/shapes}}

